.services-page {
  overflow: hidden;

  &__head {
    .caption {
      display: block;
      text-align: center;

      @include responsive767 {
        max-width: 317px;
        margin: 0 auto;
        width: 100%;
      }
    }

    .desc {
      color: $colorGray;
      font-size: 20px;
      line-height: 25px;
      display: block;
      text-align: center;
      margin-top: 12px;

      @include responsive767 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 8px;
      }
    }
  }

  &__container {
    width: 100%;
    max-width: 1460px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;

    @include responsive1439 {
    }

    @include responsive1279 {
    }

    @include responsive767 {
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  label,
  textarea,
  input {
    -webkit-appearance: none;
    font-family: $fontMain;
    border-radius: 0;
  }

  input[type="number"],
  input[type="number"]:hover,
  input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.swiper-controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 216px;
  margin: 8px auto 0;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 5;

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: solid 1px #afa4a4;
    opacity: 1;
    border-radius: 50%;
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #afa4a4;
  }
}

.swiperBtnPrev {
  border: 0;
  outline: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: $colorRed;
  transition: transform 0.3s;
  z-index: 5;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='26' viewBox='0 0 14 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.0682 1.35461L1.5332 12.8896L13.0682 24.4246' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");

  @include responsive1279 {
  }

  &:hover {
    transform: scale(0.9);
  }
}

.swiperBtnNext {
  border: 0;
  outline: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: $colorRed;
  transition: transform 0.3s;
  z-index: 5;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='26' viewBox='0 0 14 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.99459 1.35461L12.5296 12.8896L0.99459 24.4246' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");

  @include responsive1279 {
  }

  &:hover {
    transform: scale(0.9);
  }
}

.input-item {
  input {
    background: transparent;
    border: 0;
    outline: none;
    backdrop-filter: blur(13px);
    background-color: rgba(255, 255, 255, 0.18);
    height: 54px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0 25px;
    border-radius: 7px;
    color: $colorWhite;

    @include responsive1279 {
      font-size: 12px;
      line-height: 14px;
    }

    @include responsive767 {
      height: 50px;
    }

    &::placeholder {
      color: $colorWhite;
    }
  }

  textarea {
    resize: none;
    background: transparent;
    border: 0;
    outline: none;
    backdrop-filter: blur(13px);
    background-color: rgba(255, 255, 255, 0.18);
    height: 135px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    border-radius: 7px;
    color: $colorWhite;
    padding: 10px 25px;

    @include responsive1279 {
      font-size: 12px;
      line-height: 14px;
      height: 100px;
    }

    &::placeholder {
      color: $colorWhite;
    }
  }
}

.checkblock {
  position: relative;

  input {
    display: none;

    &:checked {
      & + label {
        &::before {
          background-color: $colorRed;
          border-color: $colorRed;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  label {
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    display: block;
    font-size: 14px;

    @include responsive1279 {
      padding-left: 24px;
    }

    @include responsive767 {
      font-size: 12px;
      line-height: 14px;
    }

    @include before {
      width: 28px;
      height: 28px;
      border: solid 1px #cbcbcb;
      border-radius: 5px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include responsive1279 {
        width: 16px;
        height: 16px;
      }
    }

    @include after {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3e%3cpath fill='%23FFFFFF' d='M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z'/%3e%3c/svg%3e");
      background-position: center;
      background-repeat: no-repeat;
      width: 28px;
      height: 28px;
      opacity: 0;

      @include responsive1279 {
        width: 16px;
        height: 16px;
        background-size: 10px;
      }
    }
  }

  a {
    text-decoration: underline;
    transition: text-decoration 0.3s;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.site-media {
  @include invisLink;

  picture {
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.swiperBtnPrev.black {
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -15px;
  width: 28px;
  height: 28px;
  display: flex;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.9492 1L2 10.9492L11.9492 20.8984' stroke='black' stroke-width='2'/%3e%3c/svg%3e ");

  @include responsive1279 {
    left: -35px;
  }

  @include responsive767 {
    background-size: 8px;
    left: -25px;
  }
}

.swiperBtnNext.black {
  position: absolute;
  left: auto;
  right: -50px;
  top: 50%;
  margin-top: -15px;
  width: 28px;
  height: 28px;
  display: flex;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.00004 1L10.9492 10.9492L1.00004 20.8984' stroke='black' stroke-width='2'/%3e%3c/svg%3e ");

  @include responsive1279 {
    right: -35px;
  }

  @include responsive767 {
    background-size: 8px;
    right: -25px;
  }
}
